{% load ust_menu %}<footer id="footer">
    <div class="ft1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div>
                        <h3>Amanos Extrem</h3>
                        <ul>
                            <li><a href="{% url 'hak'%}">Hakkımızda</a></li>
                            <li><a href="{% url 'kurallar'%}">Kurallar</a></li>
                            <li><a href="{% url 'temsilciler'%}">Temsilciler</a></li>
                            <li><a href="#">Gizlilik</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div>
                        <h3>İletişim</h3>
                        <ul>
                            <li><i class="fa fa-map-marker"></i>
                                <p><strong>Adres :</strong>{%ayar 'ADRES' %}</p>
                            </li>
                            <li><i class="fa fa fa-phone"></i>
                                <p><strong>Telefon :</strong>  {% ayar 'TEL'%} </p>
                            </li>
                            <li><i class="fa fa fa-envelope"></i>
                                <p><strong>Eposta : {%ayar 'POSTA' %}</strong></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div>
                        <h3>Sosyal Medya</h3>
                        <div class="sosyal">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            {% now "Y" as current_year %}
            &copy; Copyright {{ current_year }} <strong>AmanosExtrem</strong>. All Rights Reserved
            <div class="ml-auto">
                    <span>Powered by</span>
                    <a href="#">Günay YILMAZ</a>
                </div>
        </div>
        
    </div>
</footer>