{% extends 'base.html' %}
{% load static %}
{% block title %}
Anasayfa - {{ block.super }}
{% endblock %}
{% block body %}
{% load ust_menu %}
{% load temsilci %}
{% temsilciler  as temsil %}
{% sponsors as sponsor %}
<section id="intro">
    <div class="intro-content">
        <h2>2019 Sezonunda Sizde Yeriniz Alın..</h2>
        <div>
            <a href="{% url 'kurallar'%}" class="btn-get-started scrollto">Kurallar</a>
            <a href="{% url 'temsilciler'%}" class="btn-projects scrollto">Temsilciler</a>
        </div>
    </div>
    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('{% static 'img/bg/1.jpg' %}');"></div>
        <div class="item" style="background-image: url('{% static 'img/bg/2.jpg' %}');"></div>
        <div class="item" style="background-image: url('{% static 'img/bg/3.jpg' %}');"></div>
        <div class="item" style="background-image: url('{% static 'img/bg/2.jpg' %}');"></div>
        <div class="item" style="background-image: url('{% static 'img/bg/3.jpg' %}');"></div>
    </div>
</section>
<main id="main">
    <section>
        <div class="container">
            <div class="section-header">
                <h2>Ödüller</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span class="badge badge-default">1. Yarış</span>
                            <p>Gaziantep 110km</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">İlk 5'e <i class="fa fa-trophy" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span class="badge badge-default">2. Yarış</span>
                            <p>Arad 170km</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">İlk 5'e <i class="fa fa-trophy" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span class="badge badge-default">3. Yarış</span>
                            <p>Küçükalhanlı 220km</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">İlk 5'e <i class="fa fa-trophy" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span class="badge badge-default">4. Yarış</span>
                            <p>Viranşehir 320km</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">İlk 5'e <i class="fa fa-trophy" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow bounceInLeft">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span class="badge badge-default">5. Yarış</span>
                            <p>Yarı Final İdil 500km</p>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <th>Sıra</th>
                                    <th>Ödül</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>5.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>4.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>3.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>2.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>5. - 10.</td>
                                        <td>1.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow bounceInRight">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span class="badge badge-default">6. Yarış</span>
                            <p>Final Şırnak 550km</p>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <th>Sıra</th>
                                    <th>Ödül</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>20.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>10.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>6.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>3.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>5. - 10.</td>
                                        <td>1.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow bounceInLeft">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span class="badge badge-default">4 x 4</span>
                            <p>Vites KLasman</p>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <th>Sıra</th>
                                    <th>Ödül</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>4 KUŞ+ <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>3 KUŞ + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>2 KUŞ + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Not : 2020 için ücretsiz katılım hakkı elde edecektir.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow bounceInDown">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span class="badge badge-default">MARATON</span>
                            <p>Klasman (Son 2 Etap)</p>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <th>Sıra</th>
                                    <th>Ödül</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>5.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>4.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>3.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>2.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>5. - 10.</td>
                                        <td>1.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow bounceInRight">
                    <div class="card mb-2">
                        <div class="card-header">
                            <span class="badge badge-default">AS</span>
                            <p>Klasman</p>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <th>Sıra</th>
                                    <th>Ödül</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>5.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>4.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>3.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>2.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>5. - 10.</td>
                                        <td>1.000 + <i class="fa fa-trophy" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-header">
                <h2>Güzergahlar</h2>
            </div>
            <div class="row">
                <div class="col-12">
                        <div id="map-view" style="width: 100%; height: 400px;">
                            </div>
                        {%maps 2 as rc%}
                        {% if rc%}
                        <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Hzn6vaW5MOn-rh9c4kenP8jBpL7rzbQ&sensor=false&libraries=geometry,places&ext=.js"></script>
                        <script type="text/javascript">
                            var markers = {{ rc| safe}};
                            var geocoder;
                            var map;
                            function initialize() {

                                var center = new google.maps.LatLng({{konum}});
                                map = new google.maps.Map(document.getElementById('map-view'), {
                                    center: center,
                                    zoom: 5,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                });
                                var bounds = new google.maps.LatLngBounds();
                                for (var i = 0; i < markers.length; i++) {
                                    var data = markers[i]
                                    var startPt = new google.maps.LatLng({{konum}});
                                    var endPt = new google.maps.LatLng(data.lat, data.lng);
                                    calcRoute(startPt, endPt);
                                    bounds.extend(startPt);
                                    bounds.extend(endPt);
                                }
                                var infowindow = new google.maps.InfoWindow();
                                for (i = 0; i < markers.length; i++) {
                                    var data = markers[i]
                                    var marker = new google.maps.Marker({
                                        animation: google.maps.Animation.DROP,
                                        position: new google.maps.LatLng(data.lat, data.lng),
                                        map: map,
                                        title: data.yaris,
                                    });
                                    bounds.extend(marker.position);
                                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                        return function () {
                                            var data = markers[i]
                                            infowindow.setContent(data.yaris);
                                            infowindow.open(map, marker);
                                        }
                                    })(marker, i));
                                }
                                map.fitBounds(bounds);
                            }

                            function calcRoute(source, destination) {
                                var polyline = new google.maps.Polyline({
                                    path: [source, destination],
                                    strokeColor: 'red',
                                    strokeWeight: 2,
                                    strokeOpacity: 1,
                                    geodesic: true,
                                });

                                polyline.setMap(map);
                            }

                            google.maps.event.addDomListener(window, "load", initialize);
                        </script>
                        {%endif%}
                    
                </div>
            </div>
        </div>
    </section>
    <section id="temsilci" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>TEMSİLCİLER</h2>
            </div>
            <div class="row">
                {% for tm in temsil %}
                <div class="col-lg-2 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static 'none-avatar.jpg' %}" alt=""></div>
                        <div class="details">
                            <h4>{{tm.adi}} {{tm.soyadi}}</h4>
                            <span>{{tm.il}} temsilcisi</span>
                            <span>{{tm.mobil}}</span>
                            <div class="social">
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    <section id="portfolio" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>GALERİ</h2>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/1.jpg' %}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/1.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Portfolio Item 1</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/2.jpg' %}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/2.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Portfolio Item 2</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/3.jpg' %}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/3.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Portfolio Item 3</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/4.jpg' %}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/4.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Portfolio Item 4</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/5.jpg' %}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/5.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Portfolio Item 5</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/6.jpg' %}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/6.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Portfolio Item 6</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/7.jpg' %}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/7.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Portfolio Item 7</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/8.jpg' %}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/8.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Portfolio Item 8</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="clients" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Sponsorlar</h2>
            </div>
            <div class="owl-carousel clients-carousel">
                {% for sp in sponsor%}
                <img src="{{sp.logo.url}}" alt="{{sp.sponsor}}">
                {%endfor%}
            </div>

        </div>
    </section>
</main>
{% endblock %}