{% load ust_menu %}
{%jump_link as queries%}
{% if queries%}
<li class="dropdown"><a href="#" data-toggle="dropdown">Yarışlar</a>
    <ul class="dropdown-menu">
        {% for query in queries %}
        {%races query.id as rc%}
        {% if query%}
        <li><a href="#">{{query.title}}</a>
            <ul class="dropdown-menu sub-menu">
                <li><a href="#">Yarışlar</a>
                    <ul class="dropdown-menu sub-menu">
                        {% for yc in rc %}
                        <li><a href="{% url 'race' slug=yc.sezon id=yc.slug  %}">{{yc.adi}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
        {% else %}
        <li><a class="dropdown-item" href="#">{{query.title}}</a></li>
        {%endif%}
        {% endfor %}
    </ul>
</li>
{% else %}
<li class="dropdown"><a href="#" data-toggle="dropdown">Yarışlar</a></li>
{%endif%}